<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Pet Store Api Test Suite">
    <listeners>
        <listener class-name="api.utility.Listeners"></listener>
    </listeners>
            <test verbose="2" preserve-order="true" name="User Model Api Testing">
                <classes>
                    <class name="api.test.UserEndPointsTestDDT"/>
<!--                        <methods>-->
<!--                            <include name="testPostUser"/>-->
<!--                            <include name="testGetUser"/>-->
<!--                            <include name="testDeleteUser"/>-->
<!--                        </methods>-->
<!--                    </class>-->
                    <class name="api.test.UserEndpointsTests"/>
<!--                        <methods>-->
<!--                            <include name="testPostUser"/>-->
<!--                            <include name="testGetUser"/>-->
<!--                            <include name="testUpdateUser"/>-->
<!--                            <include name="testDeleteUser"/>-->
<!--                            <include name="testLoginUser"/>-->
<!--                            <include name="testLogoutUser"/>-->
<!--                        </methods>-->
<!--                    </class>-->
                </classes>
            </test>
</suite>